@import '.././variables';

table {
    width: 80vw;
    border: 2px solid $colorTableBorder;
    border-collapse:collapse;
    font-size: 20px;
    th{
        border: 2px solid $colorTableBorder;
        padding: 10px;
        text-transform: uppercase;
        color: $colorTh;
    } 
    td {
        border: 2px solid $colorTableBorder;
        padding: 5px;
        &:last-child{
            text-align: center;
        }
    }
    tr {
        &:hover{
            cursor: pointer;
            color: $colorTextHover;
        } 
    }
    button {
        padding: 5px;
        margin-right: 5px;
        border: none;
        color: #ffffff;
        border-radius: 5px;
        &:hover {
            cursor: pointer;
            color: $colorTextHover;
        }
       
    }
    .save{
        background-color: #008000;
    }
    .cancel {
        background-color: #ff0000;
    }
    .pen {
        background-color: #ffa500;
    }
    .trash {
        background-color: #ff0000;
    }
    .choice {
        background: $colorHeader;

    }
}
