$colorFooter: #aec7d0;
$colorHeader: #becdd2;
$colorTh: #080202;
$colorMain: #c6c8c9;
$colorTableBorder: #969fa1;
$colorText: #080202;
$colorTextHover:#7FFFD4;
$colorBtn:#393838;
$colorBtntHover:#5d5c5c;


