$colorFooter: #aec7d0;
$colorHeader: #becdd2;
$colorTh: #080202;
$colorMain: #c6c8c9;
$colorIntoInput: #f0f0f0;
$colorTableBorder: #969fa1;
$colorText: #080202;
$colorTextHoverBtn:#7FFFD4;
$colorBtn:#393838;
$colorBtntHover:#5d5c5c;
$fontSizeTable: 20px;


