@import '.././variables';


th {
    border: 2px solid $colorTableBorder;
    padding: 12px;
    text-transform: uppercase;
    color: $colorTh;
} 
td {
    border: 2px solid $colorTableBorder;
    padding: 5px;
    &:last-child{
        text-align: center;
    }
}

tr {
    
    &:hover {
        cursor: pointer;
        background: $colorHeader;
    }
}

.save{
    background-color: #008000;
    padding: 10px;
}
.cancel {
    background-color: #ff0000;
    padding: 10px;
}
.pen {
    background-color: #ffa500;
}
.trash {
    background-color: #ff0000;
}
.choiceTr {
    background: $colorHeader;
}
