@import '../../utils/variables';



th {
    border: 2px solid $colorTableBorder;
    padding: 12px;
    text-transform: uppercase;
    color: $colorTh;
} 
td {
    border: 2px solid $colorTableBorder;
    padding: 5px;
    &:last-child{
        text-align: center;
    }
}

tr {
    &:hover {
        cursor: pointer;
        background: $colorHeader;
    }
}

.save{
    background-color: #008000;
    padding: 10px;

    @media (max-width: 991px) {
        padding: 0;
      }
}
.cancel {
    background-color: #ff0000;
    padding: 10px;

    @media (max-width: 991px) {
        padding: 0;
      }
}
.pen {
    background-color: #ffa500;
}
.trash {
    background-color: #ff0000;
}
.choiceTr {
    background: $colorHeader;
}

.red-border {
    border: 2px solid red;
    transition: 1.5s all;
  }
.disable {
   background: black;
   transition: 1.5s all;
}