@import '../../utils/variables';

.input {
    width: 90%;
    border-radius: 5px;
    border: 2px solid $colorFooter;
    font-size: 20px;
    color: $colorText;
    background-color:$colorIntoInput; 
    padding: 7px;
    &:active {
        outline: 0;
        outline-offset: 0;
    }
    &:hover {
        outline: 0;
        outline-offset: 0;
    }
    &:focus {
        outline: 0;
        outline-offset: 0;
    }

}