@import '../../utils/variables';

.timer {
    .timer_wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        .timer_btn {
            border-radius: 5px;
            padding: 5px 10px;
            transition: 1s;
            &:hover {
                cursor: pointer;
                background: $colorBtn;
                color: $colorTextHoverBtn;
            }
        }
        .timer_img {
            display: block;
            margin: 0 auto;
            width: 70px;

        }
        .timer_info {
            text-align: center;
            margin: 10px 0;
            font-size: 20px;
        }
    }
}
