@import '.././variables';
.form {
    position: relative;
    text-align: left;

    .searchPanel {
        width: 550px;
        height: 40px;
        border-radius: 10px;
        border: 2px solid $colorFooter;
        color: $colorText;
        padding-left: 50px;
        background-color: $colorIntoInput; 
        font-size: $fontSizeTable;
        font-family: $fontMain;
     
    
        &:active {
            outline: 0;
            outline-offset: 0;
        }
        &:hover {
            outline: 0;
            outline-offset: 0;
        }
        &:focus {
            outline: 0;
            outline-offset: 0;
        }
        &::placeholder {
            color: $colorMain;
            text-transform: uppercase;
            font-size: 14px;
          }

        @media (max-width: 991px) {
            width: 50vw;
        }
    }
    .search{
        position: absolute;
        top: 15px;
        left: 10px;;
    }
   
}
