@import './utils/variables';
* {
  // outline: 2px solid red;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $colorText;
  font-family: $fontMain;
  font-weight: 400;
}



